timezone: Australia/Perth
name: Name Here!
shortname: site
copyright: 2014 your name
avatar: avatar_square.jpg
description: "Tagline description."
github_repo: https://github.com/techman83/techman83.github.io
intro: Welcome to my home on the internet! Everything here is free
  under the Creative Commons Attribution 3.0 license unless marked
  otherwise.

# Site URL
url: http://example.com/

# Custom css - copy custom.css.example to custom.css and uncomment this
#customcss: custom.css

# Comment out if not wanted, change if wanted.
twitter: http://twitter.com/
facebook: http://facebook.com/
googleplus: https://plus.google.com/
github: https://github.com/
gittip: https://www.gittip.com

# February 11th, 2014 campaign.
# See https://thedaywefightback.org for details.
# The 'testing' option will enable the banner, even if it not Feb 11th

thedaywefightback:
    enable: false
    testing: false

# These are files jekyll should never touch.
exclude: 
    - '_assets'
    - 'bin'
    - 'CNAME'
    - 'Gemfile'
    - 'Gemfile.lock'
    - 'Rakefile.rb'
    - 'README.md'
    - 'CUSTOMISATIONS.md'
    - 'personal_example'
    - 'youtube_example'

# Uncomment this to enable pagination, including tag pagination.
# paginate: 5

# Uncomment and Add your publisher ID here. https://www.addthis.com/
#addthis:
#  publisher:

# Uncomment and Add your google analytics ID here:
#analytics:
#  id:

# Uncomment and Add your disqus shortname here:
#disqus:
#  shortname:

sidebar:
  - youtube:
    title: "YouTube"
    url: "/youtube"
  - personal:
    title: "Personal"
    url: "/personal"

sitemap:
    file: "/sitemap.xml"
    exclude:
        - "/feed.xml"
