timezone: Australia/Perth
excerpt_separator: <!--more-->
name: Name Here!
shortname: site
avatar: avatar_square.jpg
description: "Tagline description."
github_repo: https://github.com/techman83/techman83.github.io
intro: Welcome to my home on the internet! Everything here is free
  under the Creative Commons Attribution 3.0 license unless marked
  otherwise.

# Site URL
url: http://example.com/

# Comment out if not wanted, change if wanted.
twitter: http://twitter.com/
facebook: http://facebook.com/
googleplus: https://plus.google.com/
github: https://github.com/
gittip: https://www.gittip.com

exclude: 
    - '_assets'
    - 'bin'
    - 'CNAME'
    - 'Gemfile'
    - 'Gemfile.lock'
    - 'Rakefile.rb'
    - 'README.md'

# Uncomment and Add your publisher ID here. https://www.addthis.com/
#addthis:
#  publisher:

# Uncomment and Add your google analytics ID here:
#analytics:
#  id:

# Uncomment and Add your disqus shortname here:
#disqus:
#  shortname:

sidebar:
  - youtube:
    title: "YouTube"
    url: "/youtube"
  - personal:
    title: "Personal"
    url: "/personal"

sitemap:
    file: "/sitemap.xml"
    exclude:
        - "/feed.xml"
