{% assign link = 'http://www.gatesfoundation.org/Who-We-Are/Resources-and-Media/Annual-Letters-List/Annual-Letter-2014' %}

<div class="amplify">
    <i class="fa fa-quote-left fa-2x pull-left fa-border darker"></i>
    <h4><a href="{{ link }}">3 Myths That Block Progress For The Poor</a></h4>
    <p><a  href="{{ link }}" class="plain darker">
    The belief that the world can’t solve extreme poverty and disease isn’t
    just mistaken. It is harmful. &nbsp;&nbsp;</a>
    <a href="{{ link }}">Read more...</a>
    </p>
</div>
