{% comment %}

Post listing for pjf.id.au

Parameters:

    * limit   - defaults to site.paginate, or 5
    * cat     - only include this category
    * exclude - exclude this category
    * tag     - only include this tag
    * posts   - Alternative list of posts to process
                (defaults to site.posts)

{% endcomment %}

{% if include.limit    %} {% assign limit = include.limit %}
{% elsif site.paginate %} {% assign limit = site.paginate %}
{% else %}                {% assign limit = 5             %}
{% endif %}

{% if    include.posts  %} {% assign posts = include.posts   %}
{% else %}                 {% assign posts = site.posts      %}
{% endif %}

{% assign count = 0 %}

{% for post in posts %}

    {% comment %} Skip this post if not in our category {% endcomment %}

    {% if include.cat %}
        {% unless post.categories contains include.cat %}
            {% continue %}
        {% endunless %}
    {% endif %}

    {% if include.tag %}
        {% unless post.tags contains include.tag %}
            {% continue %}
        {% endunless %}
    {% endif %}


    {% comment %} Skip post if in our excluded list {% endcomment %}

    {% if include.exclude %}
        {% if post.categories contains include.exclude %}
            {% continue %}
        {% endif %}
    {% endif %}



    {% assign count = count|plus:1 %}

    {% if count > limit %}
        {% break %}
    {% endif %}

    <article class="is-post is-post-excerpt">

        <header>
            <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
            {% if post.byline %}
                <span class="byline">{{ post.byline }}</span>
            {% endif %}
        </header>

        {% include info.html %}

        {% if post.wide_image %}
        <a href="{{ post.url }}">
            <img src="{{ post.wide_image }}" alt="" />
        </a>
        {% endif %}

        {% if post.content contains '<!--more-->' %}
            {{ post.content | split:'<!--more-->' | first }}
        {% else %}
            {{ post.excerpt }}
        {% endif %}

        <a href="{{ post.url }}">(read more...)</a>

    </article>
    <div class="clear_right"></div> <!-- Stop image overflows -->
{% endfor %}    
