{% if site.gittip %}
<div class="tip-box">
    <p>
        <img class="pull-right bitcoin" src="/images/bitcoin-qr.png" alt="Bitcoin QR code" />
        <a href="{{ site.gittip }}"><i class="fa fa-gittip fa-3x pull-left"></i></a>
        This site is ad-free, and all my writing can be modified and re-used under
        a <a href="https://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 license</a>.
        I welcome tips via
        <a href=https://www.paypal.com/cgi-bin/webscr?cmd=_donations&amp;business=pjf%40cpan%2eorg&amp;item_name=Paul%20Fenwick%20%2d%20pjf%2eid%2eau&amp;item_number={{ page.url | url_escape }}&amp;no_shipping=0&amp;no_note=1&amp;tax=0&amp;currency_code=USD&amp;lc=AU&amp;bn=PP%2dDonationsBF&charset=UTF%2d8">PayPal</a>,
        <a href="{{ site.gittip }}">GitTip</a>,
        <a href="https://flattr.com/submit/auto?user_id={{ site.flattr }}&amp;url={{ site.url | url_escape}}{{ page.url | url_escape }}&amp;title={{ page.title | url_escape }}">Flattr</a>,
        or <a href="bitcoin:1P9iGHMiQwRrnZuA6USp5PNSuJrEcH411f">Bitcoin</a> (1P9iGHMiQwRrnZuA6USp5PNSuJrEcH411f).
    </p>
</div>
{% endif %}
