{% if site.gittip %}
<div class="tip-box">
    <p>
        <a href="{{ site.gittip }}"><i class="fa fa-gittip fa-3x pull-left"></i></a>
        This content is available for you to use for free,
        even commercially, under a <a href="https://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 license</a>.
    </p><p>
        If you wish to support my work, please tip me on <a href="{{ site.gittip }}">gittip</a>
        or <a href="https://flattr.com/submit/auto?user_id={{ site.flattr }}&amp;url={{ site.url | url_escape}}{{ page.url | url_escape }}&amp;title={{ page.title | url_escape }}">flattr</a>.
    </p>
</div>
{% endif %}
