{% if site.gittip %}
<div class="tip-box">
    <p>
        <img class="pull-right bitcoin" src="/images/bitcoin-qr.png" alt="Bitcoin QR code" />
        <a href="{{ site.gittip }}"><i class="fa fa-gittip fa-3x pull-left"></i></a>
        This site is ad-free, and all text, style, and code may be re-used under
        a <a href="https://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 license</a>.
        If you'd like to support my work, please 
        <a href="{{ site.gittip }}">tip me on GitTip</a>,
        or <a href="bitcoin:1P9iGHMiQwRrnZuA6USp5PNSuJrEcH411f">donate via Bitcoin</a> (1P9iGHMiQwRrnZuA6USp5PNSuJrEcH411f).
    </p>
</div>
{% endif %}
