---
layout: default
title: Paul Fenwick's Talks
---

<article class="is-post">

    <img class="me" src="/images/pjf_square.jpg" />

    <header>
        <h2>{{ page.title }}</h2>
    </header>

    <p>Below are some of the many talks that I've given.  If you're
    interested in having me talk at your conference, event, or
    user group, then please <a href="mailto:paul.j.fenwick@gmail.com">email
    me</a> and let me know!</p>

    {% include tip-box.html %}

</article>

{% include post-list.html cat="talks" %}
